/* -------Header------- */
header{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}

header li{
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 15px;
    padding: 0 20px;
}
/* -------Header------- */

/* -------Hero------- */
.hero{
    background-color: green;
    background-image: url("/assets/images/baylith.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.hero{
    display: flex;
    justify-content:end;
    align-items: end;
}
.hero h2{
    background-color: cadetblue;

}
/* -------Hero------- */


/* -------Main------- */
section{
    display:flex;
    flex-direction: column;
    align-items: center;
}



.subhead{
    margin: 5px;
    padding: 5px;
}
.content{
    border-top: solid black;
    margin: 25px 25px;

}

div p{
    text-align:left;
    padding-top: 10px;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    display:flex;
    flex:1 0 auto;
    align-items: center;
    height: auto;
    min-height: 200px;
    min-width: 400px;
    
}
.card{
    background-color: cadetblue;
    margin: 10px;
    background-image: url("/assets/images/baylith.png");
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: cadetblue;
    border-width: 5px;

}   
.card h2{
    background-color: cadetblue;
}
#p1{
    width: 100%;
}




/* -------Main------- */

@media screen and (min-width: 992px) {
    section{
        flex-direction: row;
        align-items: start;
    }
    .content{
        border: none;
        border-left: solid black;
    }
    div p{
        padding-top: 0;
        padding-left: 10px;
    }
 }